/* стили для страницы */
body {
  background-image: url(../images/wallpapersden.com_cool-4k-pattern_3840x2160.jpg);
  /*"images/wallpapersden.com_cool-4k-pattern_3840x2160.jpg"*/
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #fff;
  margin: 50px auto;
  padding: 20px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-top: 0;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}
